# base

.idea/
**/target/
**/build/
**/.idea/
**/test-output/

# extensions

*.log
*.class
*.tmp
*.iml
*.ipr
*.iws

# specific

.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.DS_Store
Desktop.ini
**/nbproject/private/
**/nbbuild/
**/dist/
**/nbdist/
**/.nb-gradle/
**/.vscode/

**/*.iml
**/.idea
**/dependency-reduced-pom.xml